@if ( (snapFace$ | async); as snapface) {
    <div class="snap-face-card" [ngClass]="{'snapped' : haveLiked }">
        <h2>{{snapface.titre | titlecase }}</h2>
        <a routerLink="/snapFaces">Retour</a>
        @if (snapface.location) {
            <p>{{ snapface.location }}</p>
        }
        <p>{{snapface.date | date: "HH:mm, dd MMMM yyyy"}}</p>
        <img [src]="snapface.imageUrl" [alt]="snapface.titre">
        <p>{{snapface.description | lowercase }}</p>
        <p>
            <button (click)="onLike(snapface.id)">{{titreLike}}</button>
            <span [ngStyle]="{ color: 'rgb(0,' + snapface.like + ', 0 )'}"> ❤ {{snapface.like}} </span>
        </p>
    </div>
}
