<div class="snap-face-card" [ngClass]="{'snapped' : haveLiked }">
    <!-- Ajout d'un attribut avec {{ variable }} -->
    <h2>{{snapface.titre | uppercase }}</h2>
    <p *ngIf="snapface.location">{{ snapface.location }}</p>
    <p>Mise en ligne : {{snapface.date}}</p>
    <!--  les valeurs associées à des attributs ne seront pas toujours des strings, 
    et il est préférable d'avoir une syntaxe unique pour une fonctionnalité. Donc [attribut]="variable" -->
    <img [src]="snapface.imageUrl" [alt]="snapface.titre">
    <!-- *ngIf == si il existe -->
    <p>{{snapface.description | titlecase }}</p>
    <p>
        <!-- (event) pour lier a un évenment -->
        <button (click)="onLike()" >{{titreLike}}</button>
        <span  [ngStyle]="{ color: 'rgb(0,' + snapface.like + ', 0 )'}" > ❤ {{snapface.like}} </span>
    </p>
</div>

