<div class="snap-face-card">
    <!-- Ajout d'un attribut avec {{ variable }} -->
    <h2>{{titre}}</h2>
    <p>Mise en ligne : {{date}}</p>
    <!--  les valeurs associées à des attributs ne seront pas toujours des strings, 
    et il est préférable d'avoir une syntaxe unique pour une fonctionnalité. Donc [attribut]="variable" -->
    <img [src]="imageUrl" [alt]="titre">
    <p>{{description}}</p>
    <p>
        <!-- (event) pour lier a un évenment -->
        <button (click)="onLike()" >{{titreLike}}</button>
        ❤ {{like}}
    </p>
</div>